$baseUrl: '~@/assets/';
/* 不带单位正常颜色，D颜色较深(D2,D3越深),S颜色较浅(S2,S3越浅) */
$color: ( 
	100: #1A2732,
	200: #fff,
	200D1: #F1F1F1,
	300: #384959,
	400: #1a2732,
	500: #0B6FDE,
	500S2: #007AFF,
	600: #999,
	600D1: #666,
	700: #6F6F6F,
	700S4:#E6E6E6,
	700S3: #cdcdcd,
	700S2: #ccc,
	700S1: #ededed,
	800: #B5B5B3,
	900: #CFCECC,
	A100: #333,
	A200: #ff0033,
	A300: #90C2F5
);

$icon:(
	100: #14B613,
	200: #D81E05,
	300: #EC360E,
	400: #007CFF,
);
$nav:(
	bg: #1A2732,
	text: #fff,
	logo: #3BD1C8
);

$login:(
	100: #fff,
	200: #333333,
	300: #D0D0D0,
	400: #479DFE,
	500:#007AFF,
);
$calendar:(
	100: #fff,
	200: #1ABC9C,
	300:#2B94E7,
	400: #333333,
	500:#767676,
	600:#f1f1f1
);
$askTab:(
	100: #454553,
	200: #999,
	300: #fff
);

$scrollbar:(
	100: #fff,
	200: #1ABC9C,
	300:#2B94E7,
	400: #333333,
	500:#767676,
	600:#f1f1f1
);

$loader:(
	100S1: #3498db,
	100: #2980b9,
	200S1: #e67e22,
	200: #d35400,
	300S1: #95a5a6,
	300: #7f8c8d,
	400S1:#34495e,
	400:#2c3e50,
	500S1:#1abc9c,
	500:#16a085,
	600:#c0392b
);

$localtion:(
	100: #4CA6FC,
	200:#E8A913,
	300:#D81E06
);
